[Desktop Entry]
Type=Application
Name=ALPR (RTSP)
Exec=gnome-terminal -- bash -lc "~/IOT/Project/run_alpr.sh rtsp rtsp://192.168.50.2:8554/mac"
Terminal=false
Icon=network-workgroup

